.login {
  /* background-color: #121212; */
  height: 90vh;
}

.login > div {
  /* background-color: #242222; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

input {
  padding: 13px 30px;
  width: 300px;
  height: 45px;
  background: #1e1e1e;
  border-radius: 50px;
  color: white;
}

.msg {
  display: flex;
  flex-direction: row;
}

.msg-link {
  color: #7b74e4;
}

.msg-link:hover {
  text-decoration: underline;
}

.btn {
  color: white;
  padding: 8px 16px;
  background: #ff4820;
  font-size: 18px;
  border-radius: 30px;
  transition: all 0.3s;
  width: 200px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f22c00;
}
