.social-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  background-color: aliceblue;

  position: absolute;
  width: 550px;
  height: 254px;
  left: 445px;
  top: 280px;
}

.user-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 50px;
}
